img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/
/*TODO: Add the CSS needed to style the form*/

fieldset {
  border: 0px;
}

form input {
  width: 100%;
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid green;
  margin: 0 20px 25px 0;
}

form textarea {
  width: 100%;
  margin: 25px 0;
  border: 1px solid green;
}

form label {
  display: flex; 
  float: left;
}

.radioText {
  padding-right: 30px;
  margin-top: -5px;
}